.Header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: calc(100vw * 73.75 / 1366);
  padding-bottom: calc(100vw * 85 / 1366);
  width: 100vw;
  height: calc(100vw * (613 - 73.75 - 85) / 1366);
  background-image: url("./../../assets/images/background-header.jpg");
  background-size: 100%;
  color: #FFFFFF;
}

@media (max-width: 640px) {
  .Header {
    justify-content: center;
  }
}

.Header .Header__logo {
  height: calc(100vw * 115.25 / 1366);
}

@media (max-width: 640px) {
  .Header .Header__logo {
    height: 30px;
    position: absolute;
    top: 3vw;
    left: 3vw;
  }
}

.Header .Header__h1 {
  font-size: calc(100vw * 62 / 1366);
  line-height: calc(100vw * 74.4 / 1366);
  word-wrap: break-word;
  text-align: center;
  width: calc(100vw * 678 / 1366);
}

@media (max-width: 1007px) {
  .Header .Header__h1 {
    font-size: 35px;
    width: 550px;
  }
}

@media (max-width: 640px) {
  .Header .Header__h1 {
    font-size: 22px;
    width: 280px;
    margin-top: 10vw;
    margin-bottom: 5vw;
  }
}

.Header .Header__a {
  background-color: #FFFFFF;
  width: calc(100vw * 245 / 1366);
  height: calc(100vw * 51 / 1366);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  color: #383838;
  font-size: calc(100vw * 18 / 1366);
  box-shadow: 0, 15px, 15px, rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

@media (max-width: 1007px) {
  .Header .Header__a {
    width: 180px;
    height: 35px;
    font-size: 14px;
  }
}

@media (max-width: 640px) {
  .Header .Header__a {
    width: 110px;
    height: 24px;
    font-size: 11px;
  }
}

.Header a:active {
  color: #383838;
}

.Header a:hover {
  background-color: rgba(255, 255, 255, 0.5);
}